{% extends "index.html" %}

{% block title %}Sobre mí | {{ SITENAME }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/hacker-banner.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Sobre mí</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    {% for author, articles in authors|sort %}
<!--        <div class="post-preview"> -->
<!--            <a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark"> -->
<!--                <h2 class="post-title"> -->
<!--                    {{ author }} ({{ articles|count }}) -->
<!--                </h2> -->
<!--            </a> -->
        <div class="tags">
          <h4>Bienvenid@s al blog personal de Javier Pérez Hidalgo.</h4>

          <p>Actualmente me encuentro cursando <strong>2º ASIR</strong> en <a href="http://www.gonzalonazareno.org/">IES Gonzalo Nazareno</a>, en Dos Hermanas, Sevilla, misma ciudad en la que vivo.</p>

          <p>Este blog esta creado principalmente para ir entregando todas las tareas y prácticas realizadas en este curso, además con la idea de ir formando un sitio web que me pueda ayudar más adelante, como a mí, como a cualquier persona que necesite información.</p>

          <p>Si tienes alguna duda, sugerencia o cualquier motivo por el que quieras contactar conmigo, puedes hacerlo escribiendo a este <a href="mailto:javierperezhidalgo01@gmail.com">correo electrónico.</a></p>

          <p>Espero que te haya servido y gracias por visitar mi blog.</p>

<!--        </div> -->
        <hr>
    {% endfor %}
{% endblock content %}
